* {
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: var(--color-copy);
}

body {
  margin: 0;
}

header,
main,
footer {
  overflow-x: hidden;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.logo-photon {
  font-size: 2.375rem;
  font-weight: 900;
  line-height: 1ch;/* relativa ao tamanhoda altura do grifo 0 da fonte*/
  text-transform: uppercase;
  text-align: right;
}

.logo-photon__subtitle {
  font-size: .875rem;
  font-weight: 300;
}

.logo-photon a {
  text-decoration: none;
  color: #fff;
}
