@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #00CCC8;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding-top: 7.75rem;

}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}


.navbar {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  top: 0;
  left: 0;
  
  width: 100vw;
  right: 7.75rem;
  padding: 0 1rem;
  
  
  background-color: #000000; /*fundo*/
  color: #fff; /*fontes*/
  
}

.navbar__links {
  justify-self: end;
}
.navbar__links li {
  font-size: 0.875rem;
  margin-right: 3rem;
  text-transform: uppercase;
}

.navbar__links a {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.navbar__links a:hover {
  color: var(--color-primary);
}

.logo-photon {
  font-size: 2.375rem;
  font-weight: 900;
  line-height: 1ch;/* relativa ao tamanhoda altura do grifo 0 da fonte*/
  text-transform: uppercase;
  text-align: right;
}

.logo-photon__subtitle {
  font-size: .875rem;
  font-weight: 300;
  float: right;
}

.copy--primary {
  color: var(--color-primary);
}